
:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

body {
    background-color: lightgray;
}
.photo{
    width: 100%;
    height: 100%;
   border-radius: 10px;
    object-fit: cover;
}

.gallery {
    margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px
   
}

.photo-card {
    box-shadow: 10px 5px 5px gray;
    background-image: linear-gradient(145deg, #ee82ee, slateblue, #ffd86a, purple);
    border-radius: 15px;
    flex-basis: calc((100% - 60px) / 4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc((100% - 60px) / 4);
    border-radius: 10px;

}
.info-item {
display: flex;
flex-wrap: wrap;
text-align: center;
font-size: 14px;
padding-left: 20px;

}
.gallery-link {
color: darkslategray;
display: block;
text-decoration: none;
transition: transform 250ms linear;   

}

.gallery-link:hover,
.gallery-link:focus {
    transform: scale(1.05);
}

.info {
display: flex;
flex-wrap: wrap;
gap: 10px;

}

.images-card {
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-form {
   text-align: center;
   
   

}
.section-form {
    background-image: linear-gradient(145deg, #ee82ee, slateblue, #ffd86a, purple);
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 5px gray;
}
.input-form {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
}
 button {
    cursor: pointer;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
 }
 button:hover,
 button:focus {
    background-color: lightsteelblue
 }

.load-more{
    margin: 60px auto;
    width: 200px;
    display: none;
}


.go-top {
    display: none;
    position: fixed;
    right: 30px;
    bottom:50px;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid lightgrey;
    box-shadow: 0px 5px 5px gray;
}
.go-top--show {
    display: block;
}
.go-top:hover{
    background-color: lightgrey;
    box-shadow: 0px 10px 10px gray;
}